body{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color:black;
}

#container{
    width : 70%;
    padding:1em;
    text-align: left;
    border:1px solid;
    margin: 0 auto
}

#headerblog{
    background:cornflowerblue;
    margin: 0;
    padding:0.5em;
    color:white;
    font-weight: bold;
}